.button {
  font-family: @ff-oswald;
  font-size: (@fs-default * 14 / 16);
  line-height: 1.29;
  font-weight: 400;
  color: @color-white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  /* ФОН БОКСА*/
  display: inline-block;
  background-color: @color-apple;
  border: 0;
  padding: 10px 44px 8px;
  cursor: pointer;

  &:hover {
    background-color: @color-limeade;
  }

  &:active {
    background-color: @color-limeade;
    color: fade(@color-white, 30);
  }

  @media (min-width: @vp-768) {
    padding: 14px 26px;
    font-size: @fs-default;
    line-height: 1;
  }
}
