.catalog-sub {
  @media (min-width: @vp-1440) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 6%;
    grid-template-areas:
      "title title title title"
      "catalog catalog catalog action";
    margin-bottom: 50px;
  }
}

.catalog-sub__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
}

.catalog-sub__heading {
  margin-bottom: 36px;
  margin-top: 36px;
  border-bottom: 1px solid @color-very-light-grey;

  @media (min-width: @vp-768) {
    border: 0;
  }

  @media (min-width: @vp-1440) {
    grid-area: title;
  }
}

.catalog-sub__title {
  font-family: @ff-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: @color-black;

  @media (min-width: @vp-768) {
    font-size: 36px;
    line-height: 1;
  }
}

.catalog-sub__product {
  padding: 19px 20px 25px;
  border-bottom: 1px solid @color-very-light-grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;

  @media (min-width: @vp-768) {
    border-left: 1px solid @color-very-light-grey;
    border-right: 1px solid @color-very-light-grey;

    &--first-item {
      border-top: 1px solid @color-very-light-grey;
    }
  }

  @media (min-width: @vp-1440) {
    flex-wrap: nowrap;
    border-left: 0;
    border-right: 0;
  }
}

.catalog-sub__product-name {
  font-family: @ff-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: @fs-default;
  line-height: 1.25;
  text-transform: uppercase;
  color: @color-nero;
  margin-bottom: 13px;
}

.catalog-sub__product-characteristic {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;

  font-family: @ff-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: @color-charcoal;

  @media (min-width: @vp-768) {
    width: auto;
    gap: 59px;
  }
}

.catalog-sub__product-description {
  margin-bottom: 15px;

  @media (min-width: @vp-768) {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}

.catalog-sub__product-button {
  width: 100%;
}

.catalog-sub__product-text {
  text-align: end;
}

.catalog-sub__action {
  grid-area: action;
}


.catalog-sub__product-list {
  grid-area: catalog;
}
