.content {
  padding-left: @dist-20;
  padding-right: @dist-20;

  &--navigation {
    padding: 0;
  }

  @media (min-width: @vp-768) {
    padding-left: @dist-30;
    padding-right: @dist-30;
  }

  @media (min-width: @vp-1440) {
    padding-left: @dist-110;
    padding-right: @dist-110;
    margin-left: auto;
    margin-right: auto;
    max-width: @mw;
  }
}

