.example {
  background-color: #eaeaea;
  padding: 25px 20px 40px;

  @media (min-width: @vp-768) {
    border-top: 1px solid #e6e6e6;
    padding: 43px 0 101px;
    background: linear-gradient(0deg, #eaeaea 0%, #eaeaea 462px, @color-white 462px, @color-white 100%);
  }
}

.example__title {
  font-family: @ff-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @color-black;
  margin-bottom: 40px;

  @media (min-width: @vp-768) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 30px 63px;
  }
}

.example__text {
  font-family: @ff-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: @vp-768) {
    font-size: 16px;
    line-height: 24px;
    margin: 0 30px;
  }
}

/* STATISTICS */
.example__statistics {
  padding-top: 20px;

  @media (min-width: @vp-768) {
    padding-top: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 30px;
  }
}

.example__statistics-list {
  display: flex;
  flex-direction: row;
  gap: 32px;

  @media (min-width: @vp-768) {
    width: calc(70% - 60px - 100px);
  }
}

.example__statistics-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.example__statistics-title {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  font-family: @ff-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: @color-black;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 18px;

  @media (min-width: @vp-768) {
    min-width: 180px;
  }
}

.example__statistics-text {
  font-family: @ff-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #444444;
  position: relative;
  background-color: #eaeaea;
  top: -10px;
  width: 77px;
  justify-content: center;
  padding: 0 5px;

  @media (min-width: @vp-768) {
    font-size: 14px;
    line-height: 14px;
    background-color: @color-white;
    width: auto;
    padding: 0 9px;
  }
}

.example__statistics-subtitle {
  font-family: @ff-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @color-black;

  @media (min-width: @vp-768) {
    min-width: 120px;
    font-size: 20px;
    line-height: 29px;
    text-align: end;
    margin-top: 9px;
  }
}


/* SLIDER */
.example__slider {
  display: flex;
  flex-direction: row;
  width: 280px;
  height: 256px;
  margin: 20px auto 0;

  @media (min-width: @vp-768) {
    margin: 0 auto;
    height: 512px;
    width: 520px;
  }
}

.example__slider-before {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
  margin-right: -100%;
}

.example__slider-after {
  clip-path: polygon(100% 0, 50% 0, 50% 100%, 100% 100%);
}

.example__slider-arrow {
  position: absolute;
  width: 40px;
  left: calc(50% - 20px);
  height: 256px;
  z-index: 1;
  color: #666666;
  cursor: pointer;

  @media (min-width: @vp-768) {
    height: 512px;
  }

  &:hover {
    color: @color-apple;
  }

  &:active {
    opacity: 0.6;
  }
}
