.form {
  padding: 27px 0 32px;
  border-top: 1px solid #d9d9d9;
}

.form__header {
  font-family: @ff-oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @color-black;
  margin: 0 20px 37px;
}

.form_text {
  font-family: @ff-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @color-black;

  &--instruction {
    padding: 0 20px;
    max-width: 300px;
  }
}

.form__title {
  padding: 0 14px 0 20px;
  background-color: @color-white;
  max-width: 200px;
}

.form__block {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  padding: 50px 0;

  &--colored-border {
    border-top: 2px solid @color-apple;
    border-bottom: none;
  }
}
