.heading-page {
  margin-top: 26px;
  margin-bottom: 39px;

  @media (min-width: @vp-768) {
    margin-top: 55px;
    margin-bottom: 66px;

    &--form {
      padding-left: @distance-30 + 39px;
    }
  }

  @media (min-width: @vp-1440) {
    margin-top: 76px;
    margin-bottom: 65px;

    &--form {
      padding-left: @distance-110;
    }
  }
}

.heading-page__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 37px;

  @media (min-width: @vp-768) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  @media (min-width: @vp-1440) {
    margin-bottom: 56px;
  }

  &--catalog {
    margin-bottom: 40px;

    @media (min-width: @vp-768) {
      margin-bottom: 91px;
    }

    @media (min-width: @vp-1440) {
      margin-bottom: 79px;
    }
  }
}

.heading-page__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 40px;

  @media (min-width: @vp-768) {
    font-size: 20px;
    line-height: 30px;
    max-width: 380px;
  }
}
