.header {
  @media (min-width: @vp-768) {
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
  }

  @media (min-width: @vp-1440) {
    display: grid;
    justify-content: space-between;
    padding-top: 53px;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

.header__logo {
  margin-top: 11px;
  margin-left: calc(50% - 138px);
  margin-bottom: 18px;
  width: 190px;
  height: 37px;

  @media (min-width: @vp-768) {
    margin: 0;
    width: 174px;
    height: 52px;
  }

  @media (min-width: @vp-768) {
    width: 202px;
    height: 59px;
  }
}

.header__logo-img {
  height: 38px;
  width: 190px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @vp-768) {
    display: block;
    width: 174px;
    height: 50px;
  }

  @media (min-width: @vp-1440) {
    width: 202px;
    height: 59px;
  }
}
