.programs {
  @media (min-width: @vp-1440) {
    margin-top: 82px;
  }
}

.programs__list {
  display: grid;
  gap: 22px;
  list-style-type: none;
  width: 100%;

  @media (min-width: @vp-768) {
    gap: 30px;
  }

  @media (min-width: @vp-1440) {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.programs__item {
  background-color: @color-white-smoke;
  padding: 24px 20px 22px;
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: @vp-768) {
    padding: 77px 316px 57px 53px;
  }

  @media (min-width: @vp-1440) {
    padding: 47px 52px 59px;
  }

  &::before {
    content: " ";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: @color-apple;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;

    @media (min-width: @vp-768) {
      width: 200px;
      height: 200px;
      right: 62px;
      top: 92px;
    }

    @media (min-width: @vp-1440) {
      width: 100px;
      height: 100px;
      right: auto;
      top: auto;
    }
  }

  &::after {
    content: " ";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--slim::after {
    background-image: url("../img/sprite.svg#cat-slim");
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    height: 50px;
    top: 21px;
    left: 29px;
    background-size: 36px;

    @media (min-width: @vp-768) {
      width: 140px;
      height: 194px;
      top: 81px;
      left: auto;
      right: 92px;
      background-size: 140px 194px;
    }

    @media (min-width: @vp-1440) {
      width: 70px;
      height: 97px;
      top: 41px;
      left: 67px;
      background-size: 70px 97px;
    }
  }

  &--pro::after {
    background-image: url("../img/sprite.svg#cat-pro");
    background-repeat: no-repeat;
    background-position: center;
    width: 67px;
    height: 28px;
    top: 35px;
    left: 13px;
    background-size: 67px 28px;

    @media (min-width: @vp-768) {
      width: 268px;
      height: 112px;
      top: 135px;
      left: auto;
      right: 28px;
      background-size: 268px 112px;
    }

    @media (min-width: @vp-1440) {
      width: 134px;
      height: 56px;
      top: 67px;
      left: 33px;
      background-size: 134px 56px;
    }
  }
}

.programs__title {
  padding-left: 71px;
  margin-bottom: 32px;
  padding-top: 8px;
  font-family: @ff-oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: @color-black;

  @media (min-width: @vp-768) {
    padding-left: 0;
    padding-top: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @vp-1440) {
    padding-left: 162px;
    margin-bottom: 73px;
    margin-top: 30px;
  }
}

.programs__text {
  font-family: @ff-lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @color-charcoal;
  padding-right: 13px;
  margin-bottom: 19px;
  padding-bottom: 22px;
  border-bottom: 1px solid @color-gainsboro;

  @media (min-width: @vp-768) {
    border: none;
    margin: 0 0 52px;
    padding: 0;
    font-size: @fs-default;
    line-height: 24px;
  }

  @media (min-width: @vp-1440) {
    margin-bottom: 28px;
  }
}

.programs__link {
  font-family: @ff-oswald;
  font-weight: 400;
  font-size: @fs-default;
  line-height: 16px;
  text-transform: uppercase;
  color: @color-black;
  text-decoration: none;
  margin-top: auto;

  @media (min-width: @vp-768) {
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    content: "";
    background-image: url("../img/sprite.svg#arrow");
    background-position-x: -8px;
    width: 24px;
    height: 12px;
    background-size: 32px 12px;
    display: inline-block;
    transition: 0.5s;
    margin-left: 15px;

    @media (min-width: @vp-768) {
      margin-left: 26px;
      height: 15px;
    }
  }

  &:hover::after {
    background-position: 0;
    width: 32px;
  }

  &:active {
    opacity: 0.3;
  }
}
