/* Размеры экрана */
@vp-320: 320px;
@vp-768: 768px;
@vp-1440: 1440px;

/*Шрифты */
@ff-oswald: ~'"Oswald", "Arial", serif';
@ff-lato: ~'"Lato", "Arial", serif';

@fs-default: 16px;
@lh-default: 21px;

/* ЦВЕТА */
@color-apple: #68b738;

@color-white-smoke: #f2f2f2;
@color-black: #000000;
@color-white: #ffffff;
